thrift==0.8.0
pyzmq
greenlet
gevent
gevent-zeromq
git+ssh://dev.30and30.com/30and30/repos/techresidents/lib/python/zookeeper.git@3.3.5#egg=zookeeper
git+ssh://dev.30and30.com/30and30/repos/techresidents/lib/python/trpycore#egg=trpycore
http://nexus.dev.30and30.com/content/groups/public/com/techresidents/services/core/idl/idl-core-python/0.2.0/idl-core-python-0.2.0-bin.tar.gz#egg=tridlcore
http://nexus.dev.30and30.com/content/groups/public/com/techresidents/services/chatsvc/chatsvc-idl-python/0.1-SNAPSHOT/chatsvc-idl-python-0.1-SNAPSHOT-bin.tar.gz#egg=trchatsvc
